<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>❤</span> gfz857
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/yong9325/chatgpt-web1" target="_blank">
      Source Code
    </a>
  </p>
</footer>
