---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">网文小说</span>
    <span class="gpt-subtitle">AI助手</span>
  </div>
  <p mt-1 op-60>Based on OpenAI API (4.0).</p>
</header>
